.generator{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 30px;
}

.header{
    gap: 30px;
    font-size: 70px;
    font-weight: 5000;
    padding-bottom: 30px;
   
}
.header span{
    color:orange;
}

.img-loading{
    display: flex;
    flex-direction: column;
}
.img img{
    width: 400px;
    height: 300px;
}

.search-box{
    display: flex;
    width: 700px;
    height: 65px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #1F3540;
}

.camera{
    padding-left: 20px;
    height: 45px;
}

.gallery{
    padding-left: 10px;
    height: 35px;
}

.search{
    width: 500px;
    height: 50px;
    background: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    color: white;
    padding-left: 15px;
    margin-right: 35px;
}
.search::placeholder{
    color: #999;
}

.search-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
   background: orange;
   height: 60px;
   font-size: 20px;
   border-radius: 50px;
   cursor: pointer;
}



